/* Estilizando o container da página de edição de opções */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilizando o título da página */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilizando as checkboxes e labels */
  label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  /* Estilizando o botão de envio */
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.Botoes{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end; 
}

 /* Estilos para o cabeçalho */
 header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centralize verticalmente os elementos dentro do cabeçalho */
  height: 100%; /* Adicione esta linha */
}

header h1 {
  margin: 0;
}


.header-left {
  display: flex;
  align-items: center; /* Centralize verticalmente os elementos à esquerda */
}

.header-left ul {
  list-style: none;
  padding: 0;
}

.header-left ul li {
  display: inline;
  margin-right: 10px;
}

.header-left ul li a {
  text-decoration: none;
  color: #fff;
}

/* Estilizando o botão de editar perfil */
.usuario-editar p {
  
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px; 
}
  
  /* Estilos para o rodapé */
  footer {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  