@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.RecuperarSenha {
  text-decoration: underline;
  color: rgb(251, 251, 251);
  transition: .3s ;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  padding: 0.5rem;
}

.RecuperarSenha:hover {
  text-decoration: underline;
  color: #FFBB98;
}

li {
  list-style: none;
}

.FormSubmit {
  display: flex;
  max-width: 30%;
  width: 18%;
  border: 1px solid black;
  padding: 2.0rem 5rem;
  border-radius: 6%;
  background: linear-gradient(100deg,#7D8E95, #344648 );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.loginTitle{
  color: rgb(251, 251, 251);
  padding: 0rem 0.3rem;
}

.input1 {
  display: flex;
  border: 1px solid #344648;
  transition: .3s border-color;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 0.3rem;
  margin-top: 1rem;
  min-width: 2rem;
  padding: 1rem;  
  background-color: #7D8E95;;

}

.input1::placeholder, .input1[type="email"]{
  color: rgb(251, 251, 251);
}

.input1:hover{
  border: 1px solid #eee;
}

.input2 {
  display: flex;
  border: 1px solid #344648;
  transition: .3s border-color;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 0.3rem;
  margin-top: 1rem;
  min-width: 125px;
  padding: 1rem;  
  background-color: #7D8E95;

}

.input2::placeholder, .input2[type="password"]{
  color: rgb(251, 251, 251);
}
.input2:hover{
  border: 1px solid #eee;
}

.botaoEntrar {
  padding: 0.5rem 1.0rem;
  background-color: #dcbe9f;
  color: rgb(251, 251, 251);
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin: 2%;
  transition: .3s ;
}

.botaoEntrar:hover {
  background-color: #FFBB98;
}

.botaoCriar {
  padding: 0.5rem 1.0rem;
  background-color: #dcbe9f;
  color: rgb(251, 251, 251);
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin: 2%;
  transition: .3s ;
}

.botaoCriar:hover {
  background-color: #FFBB98;
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.links {
  flex-direction: row;
}

.wrapMain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 70vh;
}

.wrapHeader{
  color: #fff;
  position: relative;
  padding: 0 1rem;
}

.NavBar{
  max-width: 1200px;
  margin: 0.1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.NavBar .logo{
  font-size: 1.5rem;
  font-weight:normal;
  padding-top: 2rem;
  color: #344648;
}

.NavBar .links{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.NavBar .links a{
  text-decoration: none;
  color: #344648;
  font-size: 1.1rem;
  transition: .3s;
}

.NavBar .links a:hover{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

body{
background: linear-gradient(100deg, #FBE0C3, #FFBB98); 
background-repeat: no-repeat;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.bottom {
  color: #344648;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: linear-gradient(100deg, #FBE0C3, #FFBB98); 

}

/* 
@media (max-width: 992px) {
  .NavBar .links,
} */