/* Estilizando o container da página de login */
.RecuperarSenha {
  text-decoration: underline;
  color: #1f7ce1;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
}

.RecuperarSenha:hover {
  text-decoration: none;
}

/* Estilizando o título da página */
li {
  list-style: none;
}

/* Estilizando o formulário */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Mudança para largura máxima em vez de largura fixa */
  width: 90%; /* Adaptação para telas menores */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilizando os campos de entrada */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  width: 100%; /* Utiliza toda a largura disponível */
}

/* Estilizando o botão de envio */
button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px; /* Espaçamento inferior entre os botões */
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilizando mensagens de erro, se necessário */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.links {
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh; /* Garante que a main ocupe pelo menos a altura da viewport */
}

/* Estilos para o cabeçalho */
header {
  background-color:green;
  color: #fff;
  position: relative;
  padding: 0 2rem;
}

.NavBar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.NavBar .logo{
  font-size: 1.5rem;
  font-weight:lighter;
}


.NavBar .logo:hover{
  font-size: 1.5rem;
  font-weight:lighter;
}

.NavBar .links{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}


/* Estilos para o rodapé */
.bottom {
  background-color: lightblue;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}