/* Estilizando o container da página inicial */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.corpo{
  width: 100%;
  background-color: aliceblue;
  border: rgb(182, 200, 215);
  border-radius: 10%;
  border-style: solid;
}
  /* Estilizando o cabeçalho */
  .header {
    width: 30%;
    display: flex;
    font-size: 12px;
    margin-left: 60%;
  }
  
  /* Estilizando o botão de editar perfil */
  .editar-perfil {
    color: black;
    cursor: pointer;
    font-size: 12px;
  }

  .underlink{
    font-size: 12px;
    text-decoration: underline;
  }
  a:hover{
    color: #2b6eb5;
  }
  
  /* Estilizando o título da página */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilizando os botões principais */
  .botoes-principais {
    display: flex;
  }
  
  .voltar{
    margin-top: 10%;
  }

  button {
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  