/* 
.TelaCentral {
  position: relative;
  max-width: 800px; 
  width: 80%; 
  margin: 0 auto;
  background-color: #a49d9d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BotaoVoltar {
  align-items: flex-start;
}

.imagens-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row;
}

.imagem-item {
  flex: 0 0 48%; 
  margin-bottom: 10px; 
}

img {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd; 
  border-radius: 8px; 
}

.imagem-item {
  flex: 0 0 calc(48% - 5px); 
  margin-bottom: 10px; 
}


.imagem-item + .imagem-item {
  margin-left: 2%;
}



.imagem.selecionada {
  border-color: #007bff;
}


.barra-translucida {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  transition: width 0.3s; 

}
.barra-translucida.esquerda {
  left: 0; 
  transform-origin: left; 
  transform: scaleX(1);
}

.barra-translucida.direita {
  right: 0; 
  transform-origin: right; 
  transform: scaleX(-1); 
}


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100%;
}

header h1 {
  margin: 0;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left ul {
  list-style: none;
  padding: 0;
}

.header-left ul li {
  display: inline;
  margin-right: 10px;
}

.header-left ul li a {
  text-decoration: none;
  color: #fff;
}

.usuario-editar p {
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px; 
}


.barra-progresso {
  background-color: rgba(0, 0, 0, 0.3); 
  height: 0; 
  transition: height 0.3s ease; 
}


.imagem-wrapper {
  position: relative;
  display: inline-block;
  margin: 10px;

}

.imagem-vote-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px; 
  background-color: rgba(0, 0, 0, 0.5); 
  transition: width 0.3s ease; 
}


.image1-bar {
  background-color: rgba(255, 0, 0, 0.7);
}

.image2-bar {
  background-color: rgba(0, 0, 255, 0.7); 
} */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.wrapePrincipalHeader{
  position: relative;
  padding: 0 1rem;
}

.NavBarPrincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10;
}

.NavBarPrincipal .TituloHeaderP{
  font-size: 1.4rem;
  font-weight: normal;
  transition: .3s;
}

.NavBarPrincipal .TituloHeaderP:hover{
  font-size: 1.6rem;
  font-weight: normal;
  color: black;
}

.NavBarPrincipal .linksPrincipal{
    display: flex;  
    flex-direction: row;
    gap: 2rem;
}

.NavBarPrincipal .linksPrincipal .linksAuxPrincipal{
  text-decoration: none;
  font-size: 1.2rem;
  transition: .3s;
  color: #344648;

}

.NavBarPrincipal .linksPrincipal .linksAuxPrincipal:hover{
  font-size: 1.4rem;
  color: black;
}

.NavBarPrincipal .underPrincipal{
  text-decoration: none;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
}

.NavBarPrincipal .underPrincipal:hover{
  font-weight: normal;
  color: black;
}

.botao-voltar-principal{
  align-self: flex-start;
}

.botao-voltar-principal-conteudo {
  color:  rgb(251, 251, 251);;
  padding: 0.5rem 1.0rem;
  background-color: #dcbe9f;
  border-radius: 6%;
  cursor: pointer;
  border: none;

}

.imagem-descricao {
  color: white;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}

.box-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(45deg, #344648, #7D8E95);
  border: 2px solid #344645;
  border-radius: 6%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagem-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.imagem-item {
  width: 35vh;
  height: 30vh;
  margin: 30px;
  margin-bottom: 0px;
}
.bottomPrincipal{
  text-align: center;
  position: fixed;
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
}
