/* Estilizando o container da tela principal */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.TelaCentral {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a49d9d;
  padding: 20px;
}

.BotaoVoltar {
  align-items: flex-start;
}

/* Estilizando o título da página */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.imagens-container {
  display: flex;
  justify-content: space-between; /* Espaçamento entre as imagens */
  margin-top: 20px; /* Ajuste conforme necessário */
}

.imagem-item {
  flex: 0 0 48%; /* Largura das imagens com algum espaço entre elas */
  margin-bottom: 10px; /* Espaçamento inferior entre as imagens */
}

.imagem-item img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Tornar a imagem responsiva */
  border: 1px solid #ddd; /* Adicione uma borda se desejar */
  border-radius: 8px; /* Adicione borda arredondada se desejar */
}

/* Estilizando as imagens clicáveis */
.imagem {
  cursor: pointer;
  text-align: center;
}

.imagem img {
  height: 40vh;
  width: 40vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.imagem p {
  margin-top: 5px;
  font-size: 16px;
}

/* Estilizando a imagem selecionada */
.imagem.selecionada {
  border-color: #007bff;
}

/* Estilizando a barra translúcida */
/* Estilizando a barra translúcida */
.barra-translucida {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  transition: width 0.3s; /* Animação da largura */
}

.barra-translucida.esquerda {
  left: 0; /* Ajusta a barra à esquerda */
  transform-origin: left; /* Mantém a origem da transformação à esquerda */
  transform: scaleX(1); /* Crescer da esquerda para a direita */
}

.barra-translucida.direita {
  right: 0; /* Ajusta a barra à direita */
  transform-origin: right; /* Define a origem da transformação à direita */
  transform: scaleX(-1); /* Crescer da direita para a esquerda */
}


/* Estilos para o cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centralize verticalmente os elementos dentro do cabeçalho */
  height: 100%; /* Adicione esta linha */
}

header h1 {
  margin: 0;
}

.header-left {
  display: flex;
  align-items: center; /* Centralize verticalmente os elementos à esquerda */
}

.header-left ul {
  list-style: none;
  padding: 0;
}

.header-left ul li {
  display: inline;
  margin-right: 10px;
}

.header-left ul li a {
  text-decoration: none;
  color: #fff;
}

/* Estilizando o botão de editar perfil */
.usuario-editar p {
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px; 
}

/* Estilos para o rodapé */
footer {
  background-color: green;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
